# Football Data Analysis

Football is a global, popular, and dynamic sport with many different factors that can influence the outcome of a match. By analyzing large datasets of football data, teams can gain a deeper understanding of factors that contribute to players' success, enabling coaches, scouts, and analysts to make informed decisions.

Football data analysis is the process of collecting, cleaning, and analyzing data to extract meaningful insights. The valuable insights extracted from this analysis can be used to improve player performance, team tactics, fan engagement, and overall decision-making.

# Sprint 1
- Data preprocessing: Data merging, data cleaning, etc. Save the cleaned data and use it for all further sprints of this project.

In [1]:
# Step 1: Load The data

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

game_events = pd.read_excel('game_events.xlsx')
game_lineups = pd.read_excel('game_lineups.xlsx')
games = pd.read_excel('games.xlsx')
players = pd.read_excel('players.xlsx')
appearances = pd.read_excel('appearances.xlsx')

In [3]:
# Step 2: Merge all data into single data file

df=appearances.merge(game_events,on=['game_id','player_id'],how='outer') # Merge appearances , game_events
df1=df.merge(game_lineups,on=['game_id','player_id'],how='outer')        # Add game_lineups 
df2=df1.merge(games,on='game_id',how='outer')                            # Add games
data=pd.merge(df2,players,on='player_id',how='outer')                    # Add Players

In [3]:
# Validate merged data
data

,appearance_id,game_id,player_id,date_x,player_name_x,competition_id_x,yellow_cards,red_cards,goals,assists,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2222536_1321,2222536.0,1321,2012-08-26,Jermaine Jones,L1,1.0,0.0,0.0,1.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,NaN,8000000.0,NaT,NaN
1,2231391_1321,2231391.0,1321,2012-09-01,Jermaine Jones,L1,0.0,0.0,1.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,NaN,8000000.0,NaT,NaN
2,2231391_1321,2231391.0,1321,2012-09-01,Jermaine Jones,L1,0.0,0.0,1.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,NaN,8000000.0,NaT,NaN
3,2231397_1321,2231397.0,1321,2012-09-28,Jermaine Jones,L1,1.0,0.0,0.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,NaN,8000000.0,NaT,NaN
4,2231397_1321,2231397.0,1321,2012-09-28,Jermaine Jones,L1,1.0,0.0,0.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,NaN,8000000.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,NaN,NaN,795738,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,United States,2003-08-26,Attacking Midfield,Midfield,right,175.0,4500000.0,4500000.0,2027-06-30,Wasserman
4650,NaN,NaN,796429,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,United States,2003-11-18,Right-Back,Defender,right,185.0,1500000.0,3000000.0,2025-12-31,CAA Stellar
4651,NaN,NaN,860812,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,United States,2002-04-22,Left Winger,Attack,right,182.0,350000.0,350000.0,2026-06-30,FGM
4652,NaN,NaN,971613,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,United States,2000-06-21,Defensive Midfield,Midfield,right,193.0,150000.0,150000.0,2026-05-31,Wasserman
4653,NaN,NaN,1163778,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,United States,2002-06-13,Centre-Forward,Attack,right,193.0,NaN,NaN,NaT,NaN

In [5]:
# Step 3: Clean Data (Remove Duplicates, Treat missing values with Categorical_cols, Numerical_cols, DateTime_cols)

# Remove duplicates
# data.drop_duplicates(inplace=True)

# Numerical Columns
numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    if data[col].isnull().sum() > 0:
        data[col].fillna(data[col].median(), inplace=True)

# Categorical Columns
categorical_cols = data.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    if data[col].isnull().sum() > 0:
        data[col].fillna(data[col].mode()[0], inplace=True)

# Datetime Columns
datetime_cols = data.select_dtypes(include=['datetime64[ns]']).columns
for col in datetime_cols:
    if data[col].isnull().sum() > 0:
        data[col].fillna(data[col].median(), inplace=True) # Replace with the median date

In [11]:
# Check Missing Values
data.isnull().sum()

appearance_id                  0
game_id                        0
player_id                      0
date_x                         0
player_name_x                  0
competition_id_x               0
yellow_cards                   0
red_cards                      0
goals                          0
assists                        0
minutes_played                 0
game_event_id                  0
date_y                         0
minute                         0
type_x                         0
description                    0
player_in_id                   0
player_assist_id               0
game_lineups_id                0
type_y                         0
number                         0
player_name_y                  0
team_captain                   0
position_x                     0
competition_id_y               0
season                         0
round                          0
date                           0
home_club_goals                0
away_club_goals                0
home_club_position             0
away_club_position             0
home_club_manager_name         0
away_club_manager_name         0
stadium                        0
attendance                     0
referee                        0
home_club_name                 0
away_club_name                 0
aggregate                      0
competition_type               0
name                           0
last_season                    0
current_club_id                0
player_code                    0
country_of_birth               0
date_of_birth                  0
sub_position                   0
position_y                     0
foot                           0
height_in_cm                   0
market_value_in_eur            0
highest_market_value_in_eur    0
contract_expiration_date       0
agent_name                     0
dtype: int64

In [10]:
data = data.drop(columns=['home_club_formation', 'away_club_formation'])

In [15]:
# Check All Information about rows n columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4654 entries, 0 to 4653
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                4654 non-null   object
 1   game_id                      4654 non-null   float64
 2   player_id                    4654 non-null   int64
 3   date_x                       4654 non-null   datetime64[ns]
 4   player_name_x                4654 non-null   object
 5   competition_id_x             4654 non-null   object
 6   yellow_cards                 4654 non-null   float64
 7   red_cards                    4654 non-null   float64
 8   goals                        4654 non-null   float64
 9   assists                      4654 non-null   float64
 10  minutes_played               4654 non-null   float64
 11  game_event_id                4654 non-null   object
 12  date_y                       4654 non-null   datetime64[ns]
 13  minute                       4654 non-null   float64
 14  type_x                       4654 non-null   object
 15  description                  4654 non-null   object
 16  player_in_id                 4654 non-null   float64
 17  player_assist_id             4654 non-null   float64
 18  game_lineups_id              4654 non-null   object
 19  type_y                       4654 non-null   object
 20  number                       4654 non-null   float64
 21  player_name_y                4654 non-null   object
 22  team_captain                 4654 non-null   float64
 23  position_x                   4654 non-null   object
 24  competition_id_y             4654 non-null   object
 25  season                       4654 non-null   float64
 26  round                        4654 non-null   object
 27  date                         4654 non-null   datetime64[ns]
 28  home_club_goals              4654 non-null   float64
 29  away_club_goals              4654 non-null   float64
 30  home_club_position           4654 non-null   float64
 31  away_club_position           4654 non-null   float64
 32  home_club_manager_name       4654 non-null   object
 33  away_club_manager_name       4654 non-null   object
 34  stadium                      4654 non-null   object
 35  attendance                   4654 non-null   float64
 36  referee                      4654 non-null   object
 37  home_club_name               4654 non-null   object
 38  away_club_name               4654 non-null   object
 39  aggregate                    4654 non-null   object
 40  competition_type             4654 non-null   object
 41  name                         4654 non-null   object
 42  last_season                  4654 non-null   int64
 43  current_club_id              4654 non-null   int64
 44  player_code                  4654 non-null   object
 45  country_of_birth             4654 non-null   object
 46  date_of_birth                4654 non-null   datetime64[ns]
 47  sub_position                 4654 non-null   object
 48  position_y                   4654 non-null   object
 49  foot                         4654 non-null   object
 50  height_in_cm                 4654 non-null   float64
 51  market_value_in_eur          4654 non-null   float64
 52  highest_market_value_in_eur  4654 non-null   float64
 53  contract_expiration_date     4654 non-null   datetime64[ns]
 54  agent_name                   4654 non-null   object
dtypes: datetime64[ns](5), float64(20), int64(3), object(27)
memory usage: 2.0+ MB

In [16]:
# Cleaned Dataset
data.head()

,appearance_id,game_id,player_id,date_x,player_name_x,competition_id_x,yellow_cards,red_cards,goals,assists,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2222536_1321,2222536.0,1321,2012-08-26,Jermaine Jones,L1,1.0,0.0,0.0,1.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,1000000.0,8000000.0,2024-12-31,Wasserman
1,2231391_1321,2231391.0,1321,2012-09-01,Jermaine Jones,L1,0.0,0.0,1.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,1000000.0,8000000.0,2024-12-31,Wasserman
2,2231391_1321,2231391.0,1321,2012-09-01,Jermaine Jones,L1,0.0,0.0,1.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,1000000.0,8000000.0,2024-12-31,Wasserman
3,2231397_1321,2231397.0,1321,2012-09-28,Jermaine Jones,L1,1.0,0.0,0.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,1000000.0,8000000.0,2024-12-31,Wasserman
4,2231397_1321,2231397.0,1321,2012-09-28,Jermaine Jones,L1,1.0,0.0,0.0,0.0,...,Germany,1981-11-03,Defensive Midfield,Midfield,both,184.0,1000000.0,8000000.0,2024-12-31,Wasserman

In [20]:
# Save cleaned data
data.to_csv('football_data.csv', index=False)
print("Cleaned data saved as 'football_data.csv'.")

Cleaned data saved as 'football_data.csv'.